# olcRTC Configuration
OLCRTC_MODE=
OLCRTC_CARRIER=
OLCRTC_ROOM_ID=
OLCRTC_KEY=
OLCRTC_CLIENT_ID=
OLCRTC_TRANSPORT=
OLCRTC_VP8_FPS=
OLCRTC_VP8_BATCH=
OLCRTC_LINK=
OLCRTC_DNS=
OLCRTC_DATA=
OLCRTC_VPS_IP=
OLCRTC_PASS=
